/* 
Reset
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.message{
    display: none;
}

.show{
    display: block;
}
.flex{
    display: flex;
}
.main-container{
    width: 62.5rem;
    margin: 0 auto;
    justify-content: space-between;
}
.container-mail{
    background-color: antiquewhite;
}
h1{
    text-align: center;
    font-size: 40px;
    padding: 40px 0;
    }

label{
    display: none;
}

